html{
  background-image: url("https://cdn.roveconcepts.com/sites/default/files/styles/picture_1024_1x/public/Luca_Sectional_FRONT_ModernFelt_Oslo_1.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.ApartmentList {

  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;


}

.form-group {
  background-color: rgba(10,55,180, .7);
  width: 350px;
  margin: auto;
  border-radius: 10px;
  padding: 30px 30px;
}


.form-group {
    margin-bottom: 15px;
    text-align: center;
}
.form-control {
  margin: auto;
  width:300px;
}

.control-label {
  padding-top: 10px;
}


.btn {
  margin: auto;
  background-color: rgba(10,55,180,.7);
  color: white;

}


#ImageHolder{
  background-size: 100px 100px;

}



.Formfield {

}

.Navbar{
  /* position:fixed; */
  width: 100vw;
  /* margin-bottom: 0px; */
  background-color: rgba(10,55,180,.7);
  color: red;
}

.navbar-default .navbar-brand {
    color: white;
}

a {
  color: white;
}

h3 a {
  font-size: 20px;
  color: white;
}

.IndividualList {
  border-radius: 20px;
  background-color: rgba(10,55,180,.7);
  padding: 25px 10px 10px 10px;;
  text-align:center;
  margin: 90px 30px 10px 30px;

}

.footer {
  background-color: rgba(10,55,180,.7);
}

* {
  margin: 0px 0px;
  padding: 0px;
}

body {
  background: inherit;
  color: white;
}
